*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    position: absolute;
    left:0;
    top:0;
}

.clock{
    position:relative;
    width: 200px;
    height: 200px;
}

.needle{
    background-color: black ;
    position: absolute;
    top:50%;
    left:50%;
    height: 65px;
    width: 3px;
}

.needle.hour{
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point{
    background-color: #e74c3c;
    position:absolute;
    width: 10px;
    height: 10px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.center-point::after{
    position:absolute;
    content:"";
    background-color: black;
    width: 5px;
    height: 5px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

